<div class="flex-row sb">
  <h1 class="clickable" routerLink="/">ראיון למלש"ב</h1>
  <div>
    <button mat-icon-button color="primary" routerLink="/uploadInterview">
      <mat-icon>upload</mat-icon>
    </button>
    <button mat-icon-button color="primary" routerLink="/allInterviews">
      <mat-icon>list</mat-icon>
    </button>
  </div>

</div>
<router-outlet></router-outlet>
