<div class="center align-center">
  <div [ngSwitch]="requestStatus">
    <div *ngSwitchCase="0">
      <h1>טוען...</h1>
    </div>
    <div *ngSwitchCase="1">
      <input [(ngModel)]="searchText" (ngModelChange)="filterInterviews()" matInput placeholder="הכנס שם מרואיין">
      <div class="section flex-col">
        <div class="mb" *ngFor="let interview of filteredInterviewsList">
          <button class="width100" mat-raised-button (click)="showPastInterview(interview)" routerLink="/displayInterview">{{interview.name}} - {{getInterviewDate(interview)}}</button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <h1>תקלה בשרת, לא הצליח לטעון ראיונות.. נסה שוב מאוחר יותר</h1>
    </div>
  </div>
</div>
