<div class="center align-center">
  <h1>אנא העלה את קובץ הראיון</h1>
  <input id="file" (change)="onFileChange($event)" type="file" accept="application/json">
  <button [disabled]="interviewFile === null" class="submit-button" mat-raised-button (click)="uploadInterview()">העלה ראיון</button>
</div>
