<form [formGroup]="interviewForm">
  <div class="section">
    <div class="flex-row sb">
      <div class="flex-col">
        <div class="flex-row">
          <mat-form-field class="ml">
            <mat-label>שם מועמד</mat-label>
            <input formControlName="name" matInput placeholder="הכנס שם מועמד">
          </mat-form-field>

          <mat-form-field>
            <mat-label>תעודת זהות</mat-label>
            <input formControlName="TZ" matInput type="number" placeholder="הכנס תעודת זהות">
          </mat-form-field>
        </div>

        <div class="flex-row">
          <mat-form-field>
            <mat-label>בחר תאריך</mat-label>
            <input formControlName="interviewDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="flex-row">
          <mat-form-field class="ml">
            <mat-label>מגורים</mat-label>
            <input formControlName="address" matInput placeholder="הכנס מגורים">
          </mat-form-field>

          <mat-form-field class="ml">
            <mat-label>גיל</mat-label>
            <input formControlName="age" matInput type="number" placeholder="הכנס גיל">
          </mat-form-field>

          <mat-form-field>
            <mat-label>פרופיל</mat-label>
            <input formControlName="profile" matInput type="number" placeholder="הכנס פרופיל">
          </mat-form-field>
        </div>
      </div>

      <div class="flex-row">
        <input class="hidden" formControlName="imagePath" type="file" accept="image/*" (change)="onFileChange($event)"
               #fileUpload>
        <button mat-mini-fab color="primary" (click)="fileUpload.click()">
          <mat-icon>camera</mat-icon>
        </button>
        <img class="interview-image" *ngIf="interviewForm.value.image" src="{{image}}" id="image">
        <span *ngIf="!interviewForm.value.image">העלה תמונה</span>
      </div>
    </div>

    <div class="flex-row align-start">
      <div class="flex-col">
        <div formArrayName="interviewers" *ngFor="let interviewer of interviewers.controls; let i = index">
          <button mat-icon-button color="primary" (click)="removeInterviewer(i)">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-form-field>
            <mat-label>שם מראיין</mat-label>
            <input [formControlName]="i" matInput type="text" placeholder="הכנס שם מראיין">
          </mat-form-field>
        </div>
      </div>

      <button mat-icon-button color="primary" (click)="addInterviewer()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>

  <div class="section">
    <h1>הכנה לראיון</h1>
    <h3>לאחר קריאת השאלון האישי, קו"ח וגיליון ציונים - ציין לעצמך נושאים ופערים משמעותיים שתרצה לבדוק בראיון במידה
      ויש:</h3>
    <mat-form-field class="width100">
      <textarea matInput formControlName="preInterview" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
    </mat-form-field>
  </div>

  <div class="section">
    <h1>חלק אישיותי</h1>
    <h1>0.פתיחה (2 דקות)</h1>
    <h3>חשוב לפתוח בשיחת חימום קצרה (איך הגיע, אצל מי התראיין כבר, סליחה שהמתנת, איך היה עד עכשיו, איך מרגיש). לבקש תמונת פספורט</h3>
    <h3>הצגת המראיינים. הצגת היחידה בקווים כלליים (8200)</h3>
    <h3>מטרת השיחה ומסגרת הזמן (להסביר שתחילה יספר על עצמו, בהמשך נבקש שיענה על שאלות ולבסוף נציג את תפקידו המיועד ביחידה וזמן לשאלות קצרות</h3>
  </div>

  <div class="section">
    <h1>1.רקע אישי</h1>
    <div>
      <h3>ספר על עצמך (באופן חופשי)</h3>
      <h3>א. משפחה (הורים ואחים כולל עיסוק, יחסים על ההורים, משפחה מורחבת</h3>
      <h3>ב. בעיות ת"ש, מצב כלכלי, בעיות רפואיות מיוחדות</h3>
      <h3>ג. תחומי עניין, תחביבים</h3>
      <h3>ד. קשרים חברתיים (מה אתה עושה בסופי שבוע עם חברים? \ מי מארגן את המפגשים</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="personalBackground" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h1>2.לימודים והרגלי למידה</h1>
    <div class="flex-row">
      <mat-form-field class="ml">
        <mat-label>תיכון</mat-label>
        <input formControlName="highschoolName" matInput placeholder="הכנס תיכון">
      </mat-form-field>

      <mat-form-field>
        <mat-label>מסלול מוגבר</mat-label>
        <input formControlName="megama" matInput placeholder="הכנס מסלול מוגבר">
      </mat-form-field>
    </div>
    <div>
      <h3>א. מקצועות עיקריים שאהב, למה?</h3>
      <h3>ב. במה הגביר ולמה בחר בזה</h3>
      <h3>ג.האם מרוצה מהישגיו בלימודים</h3>
      <h3>ד. מה אהב \ לא אהב בבית הספר ומה הציונים במקצועות שלא אהב</h3>
      <h3>ה. איזה תלמיד הוא היה</h3>
      <h3>ו. איך ביחס לאחרים</h3>
      <h3>ז.האם היה מורה שלא הסתדר איתו ומדוע</h3>
      <h3>ח. איך למד למבחנים</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="highschoolNotes" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
    <div>
      <h3>ט. מה הוא עושה כשנתקל במשהו שלא יודע (להבין שיש לו פער מסוים ולהשלים אותו לבד באינטרנט או בקריאת ספר):</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="highschoolNotes2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h1>3.תכונות אופי</h1>
    <div class="flex-row">
      <h3>תכונות חזקות:</h3>
      <mat-form-field class="mr flex-grow">
        <mat-label>תכונות חזקות</mat-label>
        <input formControlName="goodTraits" matInput placeholder="הכנס תכונות חזקות">
      </mat-form-field>
    </div>
    <div class="flex-row">
      <h3>תכונות חלשות (מה חברים שלו, מורים לא אוהבים בו):</h3>
      <mat-form-field class="mr flex-grow">
        <mat-label>תכונות חלשות</mat-label>
        <input formControlName="badTraits" matInput placeholder="הכנס תכונות חלשות">
      </mat-form-field>
    </div>
    <div>
      <h3>יוזמה ויצירתיות- תן דוגמא ליוזמה. רעיון שלך שהצלחת להוציא לפועל:</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="creativity" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
    <div>
      <h3>מוטיבציה לשירות טכנולוגי ביחידה (איך לדעתו יתמודד עם המסגרת הצבאית, האם צופה קושי, מה מידת המוטיבציה לשרת ביחידה, מה מעניין\מושך במסלול, אילו חסרונות הוא רואה במסלול, מה יקרה אם לא יקבל את מה שהוא רוצה, האם מתכנן שנת שירות?):</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="motivation" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
    <div>
      <h3>איך אתה מתמודד עם קושי שאתה נתקל בו? תאר קושי או אתגר שנתקלת בו ואיך התמודדת?</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="difficulties" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h1>4. התמודדות עם כשלון</h1>
    <div>
      <h3>תיאור מקרה הצלחה:</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="successExample" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
    <div>
      <h3>תיאור מקרה של כישלון והתמודדות איתו:</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="failureExample" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h1>5. פרוייקט\עבודה מעשית: (מהלימודים או עבודה מעשית גדולה)</h1>
    <div>
      <h3>א. נושא הפרוייקט, מטרת הפרוייקט</h3>
      <h3>ב. מורכבות הפרוייקט, רכיבים מאכנים שקיבל</h3>
      <h3>ג. שפה, סביבת עבודה, אופן בחירת הטכנולוגיות</h3>
      <h3>ד. איך ניגש להתמודדות עם תחומים חדשים</h3>
      <h3>ה. האם פיתח לבד או בצוות, איך התחלקה העבודה בצוות</h3>
      <h3>ו. קשיים טכנולוגים שבהם נתקל וכיצד נפתרו, עיצוב הפרוייקט ומידת השליטה בפרוייקט</h3>
      <mat-form-field class="width100">
        <textarea matInput formControlName="project" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h1>6. חלק מקצועי (נע להיעזר בנספח השאלות)</h1>
    <div class="width100">
      <table>
        <tr>
          <th >תיאור השאלה המקצועית (מס' שאלה מדף השאלות או תאור נושא השאלה)</th>
          <th class="width15">דגשים</th>
          <th >הערכת תשובת המועמד הידע וםערי הידע שאותם הפגין, מידת ההעמקה, האם התמודד, האם השתמש ברמזים, כושר ניתוח וכו'.</th>
          <th>ציון לתשובה (1-5)</th>
        </tr>
        <tr>
          <th>
            <span>שאלה מקצועית תאורתית</span>
            <mat-form-field class="width100">
              <textarea matInput formControlName="theoryQuestion1" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </th>
          <td rowspan="2">בחינת מידת הבקיאות התיאורתית בחומר אותו אמור המועמד להכיר</td>
          <td>
            <mat-form-field class="width100">
              <textarea matInput formControlName="theoryAnswer1" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>ציון</mat-label>
              <input formControlName="theoryScore1" matInput type="number" min="1" max="5" placeholder="הכנס ציון">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>
            <span>שאלה מקצועית תאורתית</span>
            <mat-form-field class="width100">
              <textarea matInput formControlName="theoryQuestion2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </th>
          <td>
            <mat-form-field class="width100">
              <textarea matInput formControlName="theoryAnswer2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>ציון</mat-label>
              <input formControlName="theoryScore2" matInput type="number" min="1" max="5" placeholder="הכנס ציון">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>
            <span>שאלה מקצועית פרקטית</span>
            <mat-form-field class="width100">
              <textarea matInput formControlName="practicalQuestion1" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </th>
          <td rowspan="2">בחינת מידת יכולת פרקטית במימוש החומר אותו אמור המועמד להכיר</td>
          <td>
            <mat-form-field class="width100">
              <textarea matInput formControlName="practicalAnswer1" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>ציון</mat-label>
              <input formControlName="practicalScore1" matInput type="number" min="1" max="5" placeholder="הכנס ציון">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>
            <span>שאלה מקצועית פרקטית</span>
            <mat-form-field class="width100">
              <textarea matInput formControlName="practicalQuestion2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </th>
          <td>
            <mat-form-field class="width100">
              <textarea matInput formControlName="practicalAnswer2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>ציון</mat-label>
              <input formControlName="practicalScore2" matInput type="number" min="1" max="5" placeholder="הכנס ציון">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>
            <mat-form-field>
              <mat-label>שאלת הגיון רמה</mat-label>
              <input formControlName="logicalQuestionLevel1" matInput type="number" min="1" max="5" placeholder="הכנס רמה">
            </mat-form-field>
            <mat-form-field class="width100">
              <textarea matInput formControlName="logicalQuestion1" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </th>
          <td rowspan="2">בחינת אופן החשיבה של המועמד מתוך ניסיון לאמוד את הפוטנציאל הקיים בו</td>
          <td>
            <mat-form-field class="width100">
              <textarea matInput formControlName="logicalAnswer1" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>ציון</mat-label>
              <input formControlName="logicalScore1" matInput type="number" min="1" max="5" placeholder="הכנס ציון">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>
            <mat-form-field>
              <mat-label>שאלת הגיון רמה</mat-label>
              <input formControlName="logicalQuestionLevel2" matInput type="number" min="1" max="5" placeholder="הכנס רמה">
            </mat-form-field>
            <mat-form-field class="width100">
              <textarea matInput formControlName="logicalQuestion2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </th>
          <td>
            <mat-form-field class="width100">
              <textarea matInput formControlName="logicalAnswer2" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>ציון</mat-label>
              <input formControlName="logicalScore2" matInput type="number" min="1" max="5" placeholder="הכנס ציון">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="section">
    <h1 class="bold underline align-center">לבקש מהמועמד לא למסור שום מידע שנחשף לו בפרק זה</h1>
    <h1 class="bold underline">1. לאחר הראיון</h1>
    <h3 class="bold">כושר ביטוי בע"פ</h3>
    <h3>א. ביטחון עצמי, יוצר קשר עין, מבהיר את דבריו ומרחיב בדוגמאות</h3>
    <h3>ב. יכולת ניסוח, אוצר מילים</h3>
    <mat-form-field class="width100">
      <textarea matInput formControlName="oralExpression" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5">></textarea>
    </mat-form-field>
  </div>

  <div class="section">
    <h1 class="bold underline">מלל חופשי</h1>
    <mat-form-field class="width100">
      <textarea matInput formControlName="freeText" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10">></textarea>
    </mat-form-field>
  </div>

  <div class="section">
    <h1 class="bold underline">2. סיכום הערכה מספרית</h1>
    <table class="final-table">
      <tr>
        <td rowspan="2">מקצועי - 20%</td>
        <td>
          <span>ידע מקצועי </span>
          <span class="bold">תיאורטי</span>
        </td>
        <td>
          <mat-button-toggle-group formControlName="theoryOverallScore">
            <mat-button-toggle value=1>{{professionalScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{professionalScoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{professionalScoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{professionalScoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{professionalScoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>
          <span>ידע מקצועי </span>
          <span class="bold">פרקטי</span>
        </td>
        <td>
          <mat-button-toggle-group formControlName="practicalOverallScore">
            <mat-button-toggle value=1>{{professionalScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{professionalScoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{professionalScoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{professionalScoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{professionalScoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td rowspan="3">פוטנציאל - 40%</td>
        <td>זיקה טכנולוגית</td>
        <td>
          <mat-button-toggle-group formControlName="technologicalOrientationScore">
            <mat-button-toggle value=1>{{scoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{scoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{scoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{scoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{scoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>פוטנציאל המלשב להתפתחות מקצועית</td>
        <td>
          <mat-button-toggle-group formControlName="professionalPotentialScore">
            <mat-button-toggle value=1>{{professionalScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{professionalScoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{professionalScoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{professionalScoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{professionalScoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>יכולת חשיבה והסקת מסקנות\יכולות מחקר</td>
        <td>
          <mat-button-toggle-group formControlName="criticalThinkingScore">
            <mat-button-toggle value=1>{{scoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{scoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{scoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{scoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{scoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>אינדיקציה של המראיין</td>
        <td>סיכום ראיון מקצועי</td>
        <td>
          <mat-button-toggle-group formControlName="overallProfessionalScore">
            <mat-button-toggle value=1>{{overallScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{overallScoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{overallScoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{overallScoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{overallScoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td rowspan="3">אישיות - 40%</td>
        <td>כיצד אתה מעריך את כישוריו הבינאישיים של המועמד (כושר ביטוי, עבטדת צוות, חברותיות)</td>
        <td>
          <mat-button-toggle-group formControlName="peopleSkillsScore">
            <mat-button-toggle value=1>{{professionalScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>2 - השתלבותו מוטלת בספק</mat-button-toggle>
            <mat-button-toggle value=3>3 - יחווה קשיים אולם יצליח להשתלב</mat-button-toggle>
            <mat-button-toggle value=4>4 - בעל יכולות חברתיות ממוצעות</mat-button-toggle>
            <mat-button-toggle value=5>5 - ישתלב היטב חברתית, מתאים לעבודת צוות</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>כיצד אתה מעריך את דמות המועמד (אמינות, אחריות, התמודדות עם קשיים ולחץ)</td>
        <td>
          <mat-button-toggle-group formControlName="characteristicsScore">
            <mat-button-toggle value=1>{{professionalScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>2 - יש לקחת בחשבון את הפערים הקיימים</mat-button-toggle>
            <mat-button-toggle value=3>3 - קיימים פערים זניחים</mat-button-toggle>
            <mat-button-toggle value=4>4 - לא זיהינו פערים בדמות המועמד</mat-button-toggle>
            <mat-button-toggle value=5>5 - מהווה דוגמא אישית</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>מוטיבציה לתפקיד</td>
        <td>
          <mat-button-toggle-group formControlName="motivationScore">
            <mat-button-toggle value=1>{{scoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>2 - מוטלת בספק</mat-button-toggle>
            <mat-button-toggle value=3>{{scoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{scoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{scoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>אינדיקציה של המראיין</td>
        <td>סיכום ראיון אישיותי</td>
        <td>
          <mat-button-toggle-group formControlName="overallCharacterScore">
            <mat-button-toggle value=1>{{overallScoreText.s1}}</mat-button-toggle>
            <mat-button-toggle value=2>{{overallScoreText.s2}}</mat-button-toggle>
            <mat-button-toggle value=3>{{overallScoreText.s3}}</mat-button-toggle>
            <mat-button-toggle value=4>{{overallScoreText.s4}}</mat-button-toggle>
            <mat-button-toggle value=5>{{overallScoreText.s5}}</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
      <tr>
        <td>אינדיקציה של המראיין</td>
        <td>ציון סופי (מקצועי ואישיותי)</td>
        <td>
          <mat-button-toggle-group formControlName="overAllScore">
            <mat-button-toggle value=1>1 - אינו מתאים</mat-button-toggle>
            <mat-button-toggle value=2>2 - אין התנגדות לשלבו ביחידה</mat-button-toggle>
            <mat-button-toggle value=3>3 - קיים פוטנציאל</mat-button-toggle>
            <mat-button-toggle value=4>4 - סיכויים גבוהים להצלחה</mat-button-toggle>
            <mat-button-toggle value=5>5 - סיכויים כמעט ודאים להצלחה</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </tr>
    </table>
  </div>

  <button class="submit-button" mat-raised-button (click)="exportInterview()">יצא ראיון</button>
</form>
