/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  direction: rtl;
}

h3 {
  margin: 0 !important;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  text-align: center;
}

.mat-form-field {
  text-align: right !important;
}
.mat-button-toggle-checked {
  background-color: red;
}

.center {
  width: 90%;
  height: 100%;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.sa {
  justify-content: space-around;
}
.sb {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}

.ml {
  margin-left: 20px;
}
.mr {
  margin-right: 20px;
}
.mb {
  margin-bottom: 20px;
}

.width100 {
  width: 100%;
}
.width25 {
  width: 25%;
}
.width15 {
  width: 15%;
}

.hidden {
  display: none;
}

.interview-image {
  height: 130px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-grow {
  flex-grow: 1;
}

.bold {
  font-weight: bold !important;
}
.underline {
  text-decoration: underline;
}
.align-center {
  text-align: center;
}

.final-table {
  mat-button-toggle {
    width: 200px;
    white-space: pre-wrap;
  }
}

.submit-button {
  width: 100%;
  background-color: red;
}

.clickable {
  cursor: pointer;
}
